.header_box {
	height: 133rpx;
	width: 100%;
	font-weight: bolder;
	font-size: 92rpx;
	line-height: 133rpx;
}

.cushion_image{
	position: absolute;
	top: 42rpx;
	bottom: 461rpx;
	width: 100%;
	z-index: -1;
}